* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; 
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 10px;
  background-color: #007bff;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
}

.app-footer {
  background-color: #3c525e;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  font-size: 0.9rem;
  margin: 0;
}

.app-footer a {
  color: #a8c5e6;
  text-decoration: none;
}
.app-footer p {
  color: #eef1f3;
  
}

.app-footer a:hover {
  text-decoration: underline;
}


